/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */
@import "src/material-design-lite";

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-demo {
  .mdl-layout__header-row {
    padding-left: 40px;
  }
  .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
    font-size: inherit;
  }
  .mdl-layout__tab-bar-button {
    display: none;
  }
  .mdl-layout {
    &.is-small-screen .mdl-layout__tab-bar .mdl-button {
      display: none;
    }
    &:not(.is-small-screen) {
      .mdl-layout__tab-bar, .mdl-layout__tab-bar-container {
        overflow: visible;
      }
    }
  }
  .mdl-layout__tab-bar-container {
    height: 64px;
  }
  .mdl-layout__tab-bar {
    padding: 0;
    padding-left: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    .mdl-layout__tab {
      height: 64px;
      line-height: 64px;
      &.is-active::after {
        background-color: white;
        height: 4px;
      }
    }
  }
  main > .mdl-layout__tab-panel {
    padding: 8px;
    padding-top: 48px;
  }
  .mdl-card {
    height: auto;
    display: flex;
    flex-direction: column;
    > * {
      height: auto;
    }
    .mdl-card__supporting-text {
      margin: 40px;
      flex-grow: 1;
      padding: 0;
      color: inherit;
      width: calc(100% - 80px);
    }
  }
  .mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .mdl-card__actions {
    margin: 0;
    padding: 4px 40px;
    color: inherit;
    a {
      color: #00BCD4;
      margin: 0;
      &:hover, &:active {
        color: inherit;
        background-color: transparent;
      }
    }
  }
  .mdl-card__supporting-text + .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  #add {
    position: absolute;
    right: 40px;
    top: 36px;
    z-index: 999;
  }
  .mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
  }
  section.section--center {
    max-width: 860px;
  }
  #features section.section--center {
    max-width: 620px;
  }
  section {
    > {
      header {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .section__play-btn {
        min-height: 200px;
      }
      header > .material-icons {
        font-size: 3rem;
      }
      button {
        position: absolute;
        z-index: 99;
        top: 8px;
        right: 8px;
      }
    }
    .section__circle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 0;
      flex-shrink: 1;
    }
    .section__text {
      flex-grow: 1;
      flex-shrink: 0;
      padding-top: 8px;
      h5 {
        font-size: inherit;
        margin: 0;
        margin-bottom: 0.5em;
      }
      a {
        text-decoration: none;
      }
    }
    .section__circle-container > .section__circle-container__circle {
      width: 64px;
      height: 64px;
      border-radius: 32px;
      margin: 8px 0;
    }
    &.section--footer .section__circle--big {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: 8px 32px;
    }
  }
  .is-small-screen section.section--footer .section__circle--big {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 8px 16px;
  }
  section {
    &.section--footer {
      padding: 64px 0;
      margin: 0 -8px -8px -8px;
    }
    &.section--center .section__text:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }
  }
  .mdl-card .mdl-card__supporting-text > h3:first-child {
    margin-bottom: 24px;
  }
  .mdl-layout__tab-panel:not(#overview) {
    background-color: white;
  }
  #features {
    section {
      margin-bottom: 72px;
    }
    h4 {
      margin-bottom: 16px;
    }
  }
}

#features h5 {
  margin-bottom: 16px;
}

.mdl-demo {
  .toc {
    border-left: 4px solid #C1EEF4;
    margin: 24px;
    padding: 0;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 0.9rem;
      margin-top: 0;
    }
    a {
      color: #4DD0E1;
      text-decoration: none;
      font-size: 16px;
      line-height: 28px;
      display: block;
    }
  }
  .mdl-menu__container {
    z-index: 99;
  }
}
/* part1 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
}
.head {
  background-color: #d0d0d0;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      display: block;

      h1{
        text-align: center;
        display: block;
        padding-top: 3%;
        padding-bottom: 1%;
        margin-bottom: 0;
        text-transform: uppercase;
        color: #603813;
        font-size: 40px;
      }
    }
  }
  img {
    width: 15%;
    display: block;
    margin: 0 auto;
  }
}
.coffee-info {
  h2 {
    font-size: 34px;
    padding-bottom: 4%;
    padding-top: 3%;
    color: #603813;
    text-align: center;
  }
}
.facts {
  h4 {
    text-align: center;
    color: #603813;
  }
  p {
    text-align: justify;
  }
}
.sort-coffee {
  margin-left: 15px;
  button {
    text-transform: uppercase;
    padding: 5px 15px;
    background-color: #d0d0d0;
    border: none;
  }
  span {
    text-transform: uppercase;
  }
  h2 {
    margin-left: 0;
    color: #603813;
  }
}
#app {
  h2 {
    margin-left: 15px;
  }
}
#error {
  display: none;
  text-align: center;
  margin-top: 5%;
  font-size: 36px;
  background-color: #d0d0d0;
  padding: 2%;
}

section {
  width:990px;
  margin:0 auto 0 auto;
  display: block;
}

section .venue {
  margin-bottom:20px;
  border:solid 1px #ccc;
  padding:20px;
}

section h2 {
  font-family:'Gotham 7r',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#2a2a2a;
  margin-bottom:10px;
  font-size:19px;
  line-height:39px;
}

section p {
  margin-bottom:10px;
}

section #query {
  padding:10px;
  border:solid 1px #ccc;
  font-size:18px;
  color:#ccc;
}

section #query.focus, section #query:focus {
  color:#2a2a2a;
}

section #submit {
  margin-bottom:20px;
}
.coffee-carousel {
  margin: 0;
  padding: 0;
}
#venues {
  position:relative;
  z-index:100;
  height:600px;
  width:50%;
  overflow-y:auto;
  top:1px;
  background-color:rgba(0,0,0,0.2);
}

.venue {
  border:solid 1px #ccc;
  padding:20px;
  background-color:#fff;
  margin-top:10px;
  width:85%;
  margin:10px auto 10px auto;
  border-radius:10px;
}

.venue .icon {
  margin-left:20px;
  margin-top:10px;
  width:16px;
  height:16px;
}

.rating {
  padding:10px;
  background-color:#69BF13;
  font-size:14px;
  border-radius:5px;
  color:#fff;
  margin-left:15px;
}

section p.quote {
  font-size:18px;
  font-family:sans-serif;
  line-height:26px;
  color:#606060;
  margin-bottom:10px;
}

#content {
  height:auto;
  margin-bottom:40px;
  margin-top:20px;
  position:relative;
  min-height:600px;
  display: block;
  margin-left: 15px;
}

#mapcontainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#map {
  top:0;
  width: 100%;
  height: 100%;
  border:solid 1px #ccc;
}

.loaderWrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
}

.mdl-mega-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
$break-small: 475px;
$break-medium: 992px;
$break-large: 1200px;
$extra-large:1201px;
@media screen and (min-width: $extra-large){

    section {
      width: auto;
      .container {
        width: 1170px ;
        display: block ;
        margin: 0 auto ;
      }
    }
    #coffee-content {
      width: 1170px !important;
      display: block !important;
      margin: 0 auto !important;
    }
}
@media screen and (max-width: $break-large) {
  #mapcontainer {
    display: none;
  }
  #venues {
    width: 100%;

  }
  .container {
    width: auto;
  }
  section {
    width: auto;
  }
}
@media screen and (max-width: $break-medium) {

  section {
    width: auto;

  }
  #venues {
    overflow-y: auto;
    background-color: rgba(0,0,0,.2);
  }
}
@media screen and (max-width: $break-small) {
  body {
    background-color: #f3f0f0;
  }

  #content {
    margin-left: 0;
  }
 .head {
   ul {
     li {
       h1 {
         font-size: 22px;
       }
     }
   }
   img {
     width: 50%;
   }
 }
  .coffe-carousel {
    margin: 0;
  }
  .coffee-info {
    h2 {
      text-align: center;
      font-size: 22px;
    }
  }
  .facts {
    h4{
      font-size:16px;
    }
  }
  #app {
    h2 {
      margin-left: 0;
      text-align: center;
      color: #603813;
    }
  }
  .venue h2 {
    text-align: left !important;
  }
  .sort-coffee {
    margin-left: 0;
    text-align: center;
  }
}